/* *{
    box-sizing: border-box;
} */
body {
    background-color: rgb(212, 209, 209);
}

.content {
    filter: drop-shadow(1px 1px 3px rgb(197, 170, 170));
    border: 2px solid #fff;
    width: fit-content;
    border-radius: 10px;
    background: #fff;
    display: inline-block;
    margin: 20px;
}

.contact {
    margin: auto;
    display: flex;
    position: relative;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: rgb(189, 13, 13);
    filter: drop-shadow(1px 1px 3px rgb(3, 0, 0));
    color: #fff;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

nav {
    background-color: darkslategrey;
    padding: 10px;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 10px;
    font-size: 18px;
    font-family: "ubuntu", sans-serif;
}

nav ul a {
    color: aquamarine;
    text-decoration: none;
}

nav ul a:hover {
    color: aqua;
    text-decoration: none;
}

.logo {
    float: right;
    color: #fff;
    font-size: 20px;
}

img {
    max-width: 280px;
    border-radius: 10px;
    padding: 7px;
}

h4,
p {
    text-align: center;
}
.contact-card h4{
    background-color:darkslategrey ;
    color:#fff;
    padding:2px;
    font-size: 20px;
    border-radius: 2px;
}